toslive/out/

toslive/work/

toslive/images/

toslive/packages.x86_64

toslive/version.txt

toslive/airootfs/root/customize_airootfs.sh

repo/*

!repo/BUILD
!repo/arch/public.gpg
!repo/index.html
!repo/*.sh
!repo/*.conf
!repo/Jenkinsfile
!repo/docker-compose.yml
!repo/Dockerfile


repo/BUILD/test
